---
title: About Siavash
---

<div class="sub-container">
  <div class="sub-header">
    <h1 class="heading1-light">About me</h1>
  </div>
  <div class="sub-content">
    <div class="about">
      <div class="about__heading">
        <h1 class="heading1">
          Who is Siavash?
        </h1>
      </div>
      <div class="about__description">
        <p>Siavash is a software developer who is passionate about cloud native technologies. He believes everything
          must be automated and version controlled under git. He has been working with automatic deployment and
          orchestration of applications in private cloud. Currently, he is looking forward to working more with cloud
          native technologies, distributed architecture and CI/CD pipelines.
        </p>
        <br>
        <p>Siavash spends his free time with family and friends and some hacking on the side. He enjoys playing sports
          and watching movies. He can not get enough of sunny weather and beach and BBQ.</p>
      </div>
      <div class="about__interests">
        <h1 class="heading1">
          Interests
        </h1>
        <div class="about__interests__category">
          <p>Ansible, Ovirt, Kubernetes, Openshift, Rancher, Istio, JenkinsX, Angular</p>
        </div>
      </div>
    </div>
  </div>
</div>