<ul class="nav__navigation">
  {% for item in site.data.navigation %}
  <li class="nav__navigation__item">
    <a href="{{ item.link }}"
       {% if page.url == item.link %}
       class="nav__navigation__link nav__navigation__link--active"
       {% else %}
       class="nav__navigation__link"
       {% endif %}>
      <svg class="nav__navigation__icon">
        <use xlink:href="/assets/icons/sprite.svg#{{ item.icon }}"></use>
      </svg>
      <span>{{ item.name }}</span>
    </a>
  </li>
  {% endfor %}
</ul>