.about {
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: [content-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(6rem, 1fr) [content-end];
    grid-row-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.about__heading,
.about__description,
.about__interests {
    grid-column: center-start / center-end;
}