.blog {
    display: grid;
    grid-template-columns: [content-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(3rem, 1fr) [content-end];
    justify-content: center;
    align-items: center;
    grid-row-gap: 2rem;

    &__heading {
        grid-column: center-start / center-end;
    }

    &__label {
        grid-column: center-start / center-end;

        border-radius: 5px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            margin: .5rem 1rem;
            background-color: $btn-color-light;
            border-radius: 5px;
            text-transform: uppercase;
            cursor: pointer;
            display: inline-block;
            padding: 0 .5rem;
            transition: all .2s;
        }

        &__item:hover {
            background-image: linear-gradient(to bottom right, #7ed1f7, $primary-color-light, #7ed1f7);
            box-shadow: $text-shadow-light;
            transform: translateY(.2rem);
        }
    }

    &__content {
        grid-column: center-start / center-end;
    }

    &__category {
        grid-column: center-start / center-end;


        &__radio {
            display: none;
        }

        &__radio:checked~&__container {
            display: block;
        }

        &__container {
            display: none;
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
            grid-column-gap: 3rem;
            grid-row-gap: 3rem;
            justify-content: center;
            align-items: center;
        }
    }

    &__post__item {
        background-color: $primary-color-card;
        height: 100%;

        display: flex;
        flex-direction: column;

        &__pic {
            width: 100%;
            transition: all .4s;

            img {
                width: 100%;
                object-fit: cover;
                max-height: 100%;
            }
        }

        &__pic:hover {
            opacity: 0.7;
            filter: alpha(opacity=70);
        }

        &__title {
            color: $primary-color;
            letter-spacing: .1rem;
            padding: 1rem 1rem;
            text-align: center;
            text-transform: uppercase;
        }

        &__link {
            display: block;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            color: $secondary-text-color;
            width: 100%;
            padding: 1rem 0;
            background-image: $secondary-color-gradient;
            transition: all .2s;
            margin-top: auto;
        }

        &__excert {
            p {
                padding: 2rem 3rem;
                text-align: center
            }
        }

        &__link:hover {
            box-shadow: $text-shadow-dark;
            text-shadow: $text-shadow-bright;
            transform: translateY(.2rem);
        }
    }

    &__paginator {
        margin-top: 3rem;
        display: flex;
        justify-content: center;


        &__item {
            width: 3rem;
            height: 3rem;
            background-color: $btn-color-light;
            margin: .5rem .5rem;
            border-radius: 5px;
            cursor: pointer;
            display: grid;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $primary-text-color;
            transition: all .2s;

            &--current {
                color: $primary-color;
            }

            &--passive {
                pointer-events: none;
                cursor: default;
            }

            &--active:hover {
                background-image: linear-gradient(to bottom right, #7ed1f7, $primary-color-light, #7ed1f7);
                box-shadow: $text-shadow-light;
                transform: translateY(.2rem);
            }
        }
    }

    &__see-category {
        display: grid;
        text-align: center;

        &__link {
            cursor: pointer;
            padding: 1rem 2rem;
            display: block;
            background-color: $btn-color-light;
            text-decoration: none;
            text-transform: uppercase;
            color: $secondary-text-color;
            background-image: $secondary-color-gradient;
        }

        &__link:hover {
            box-shadow: $text-shadow-dark;
            text-shadow: $text-shadow-bright;
            transform: translateY(0.2rem);
        }
    }
}