.container {
    display: grid;
    grid-template-columns: [nav-start] minmax(18rem, 30rem) [nav-end content-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [content-end];
}

.nav {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $primary-color;
    position: relative;
    padding-bottom: 2rem;
    background-color: $primary-color-card;

    grid-column: nav-start / nav-end;

    @media only screen and (max-width: $bp-l) {
        grid-column: nav-start / -1;
        height: 98vh;
    }

    display: grid;
    justify-content: center;
    align-content: flex-start;
    grid-row-gap: 2rem;

    &__top {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        background-image: linear-gradient(to bottom, $primary-color-dark, $primary-color);
        ;
    }

    &__photo {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        transform: translateY(60%);

        display: grid;
        grid-row-gap: 2rem;

        img {
            object-fit: cover;
            width: 17rem;
            height: 17rem;
            border-radius: 50%;
            justify-self: stretch;
            display: block;
            margin: 0 auto;
        }

        &__name {
            font-size: 1.8rem;
            font-weight: 700;
            justify-self: center;
            letter-spacing: .1rem;
        }
    }

    &__navigation {
        margin-top: 15rem;
        padding-bottom: 2rem;

        display: grid;
        justify-content: center;

        &__item {
            list-style: none;
            display: inline-block;
            margin: 1rem 0;
            transition: all 0.3s;
        }

        &__item:hover {
            color: $accent-color;
        }

        &__link {
            text-decoration: none;
            color: $primary-text-color;
            transition: all 0.3s;

            display: grid;
            grid-template-columns: repeat(2, min-content);
            column-gap: 1rem;
            justify-content: center;
            align-items: center;
        }

        &__link--active {
            border-bottom: 2px solid currentColor;
        }

        &__link:hover,
        &__icon:hover {
            font-weight: 700;
            color: $primary-color;
        }

        &__link:focus {
            outline: none;
        }

        &__icon {
            height: 1.6rem;
            width: 1.6rem;
            display: inline-block;
            fill: currentColor;
        }
    }

    &__social {
        display: grid;
        grid-template-columns: repeat(4, min-content);
        column-gap: 1rem;
        justify-content: center;
        align-items: center;

        &__link {
            text-decoration: none;
            color: $primary-text-color;
            padding: 0.5rem;
            transition: all 0.3s;
        }

        &__link:hover,
        &__icon:hover {
            font-weight: 700;
            color: $primary-color;
        }

        &__link:focus,
        &__link:active {
            outline: none;
        }

        &__icon {
            height: 1.6rem;
            width: 1.6rem;
            display: inline-block;
            fill: currentColor;
        }
    }
}

.content {
    padding-bottom: 6rem;

    grid-column: content-start / content-end;

    @media only screen and (max-width: $bp-l) {
        grid-column: nav-start / -1;
    }
}

.footer {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;

    background-image: $primary-color-gradient;
    color: $secondary-text-color;

    font-size: 1.2rem;
    padding: 2rem;

    &__poweredby {
        color: $secondary-text-color;
    }

    &__poweredby:hover,
    &__copyright:hover {
        text-shadow: $text-shadow-bright;
    }
}

.sub-container {
    display: grid;
    grid-template-rows: minmax(20hv, 1fr) min-content;
    grid-template-columns: [content-start] minmax(3rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 40rem) [col-end]) [center-end] minmax(3rem, 1fr) [content-end];
    grid-row-gap: 3rem;
    justify-content: center;
}

.sub-header {
    grid-row: 1 / 2;
    grid-column: content-start / content-end;
    text-align: center;
    padding: 2rem;
    background-image: $primary-color-gradient;
    color: $primary-color-light;
}

.sub-content {
    grid-row: 2 / 3;
    grid-column: center-start / center-end;

    font-size: 1.6rem;
    color: $primary-text-color;
}