.post {
    display: grid;
    grid-template-columns: [content-start] minmax(3rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end side-start] minmax(20rem, 1fr) [side-end] minmax(3rem, 1fr) [content-end];
    justify-content: center;
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;


    @media only screen and (max-width: $bp-l) {
        grid-template-columns: [content-start] minmax(3rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(3rem, 1fr) [content-end];
        grid-column-gap: 0;
    }

    &__heading,
    &__content,
    &__pic,
    &__footer {
        grid-column: center-start / center-end;
    }

    &__pic {
        grid-row: 1 / 2;

        img {
            object-fit: cover;
            width: 100%;
        }
    }

    &__heading {
        grid-row: 2 / 3;
    }

    &__content {
        grid-row: 3 / 4;

        p:not(:last-child) {
            line-height: 2.8rem;
            margin-bottom: 2rem;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            font-weight: 700;
            text-transform: uppercase;
            color: transparent;
            background-image: $primary-text-gradient-color;
            -webkit-background-clip: text;
            background-clip: text;
            display: inline-block;
            letter-spacing: .2rem;
            transition: all .3s;
        }

        h1:hover,
        h2:hover,
        h3:hover,
        h4:hover,
        h5:hover {
            text-shadow: $text-shadow-light;
            transform: scale(1.05);
        }

        h1 {
            font-size: 2.8rem;
        }

        h2 {
            font-size: 2.4rem;
        }

        h3 {
            font-size: 2rem;
        }

        p img {
            object-fit: cover;
            max-width: 100%;
        }

    }

    &__footer {
        grid-row: 4 / 5;
        grid-column: center-start / center-end;

        font-style: italic;
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
        border-bottom: 1px solid $divider-color;

        span {
            font-weight: 700;
        }
    }

    &__side {
        grid-row: 1 / 5;
        grid-column: side-start / side-end;

        display: grid;
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
        justify-content: center;
        align-items: baseline;

        @media only screen and (max-width: $bp-l) {
            grid-row: 5 / 6;
            grid-column: center-start / center-end;
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: $bp-s) {
            grid-template-columns: auto;
        }

        &__heading {
            background-color: $primary-color;
            color: $secondary-text-color;
            font-weight: 400;
            text-transform: uppercase;
            padding: .5rem 2rem;
            text-align: center;
        }

        &__section {
            background-color: $primary-color-card;
            padding-bottom: .5rem;

            display: grid;
            grid-row-gap: 1rem;

            &__link {
                text-decoration: none;
                color: $primary-text-color;
                padding: .5rem 1rem;
            }

            &__link:hover {
                color: $primary-color;
                text-shadow: $text-shadow-light;
            }
        }

        &__category {
            display: grid;

            &__radio {
                display: none;
            }

            &__radio:checked~&__container {
                display: block;
            }

            &__label {
                background-color: $primary-color-light;
                text-transform: uppercase;
                padding: .5rem 1rem;
                display: flex;
                justify-content: space-between;
                align-items: cneter;

                span:last-child {
                    padding-left: 2rem;
                }
            }

            &__label:hover {
                text-transform: uppercase;
                color: $primary-color;
                text-shadow: $text-shadow-light;
                cursor: pointer;
            }

            &__container {
                display: none;
            }

            &__content {
                display: grid;
            }
        }
    }
}