.heading1,
.heading2,
.heading3 {
    font-weight: 700;
    text-transform: uppercase;
    color: transparent;
    background-image: $primary-text-gradient-color;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    letter-spacing: .2rem;
    transition: all .3s;
}

.heading1 {
    font-size: 2.8rem;
}

.heading2 {
    font-size: 2.4rem;
}

.heading3 {
    font-size: 2rem;
}

.heading1:hover,
.heading2:hover,
.heading3:hover {
    text-shadow: $text-shadow-light;
    transform: scale(1.05);

}


.heading1-light,
.heading2-light,
.heading3-light {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: transparent;
    background-color: $secondary-text-color;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    letter-spacing: .2rem;
    transition: all .2s;
}

.heading1-light {
    font-size: 2.8rem;
}

.heading2-light {
    font-size: 2.4rem;
}

.heading3-light {
    font-size: 2rem;
}

.heading1-light:hover,
.heading2-light:hover,
.heading3-light:hover {
    text-shadow: $text-shadow-bright;
    transform: skewX(10deg);
}

*::selection {
    background-color: $primary-color;
    color: $secondary-text-color;
}