$primary-color-dark: rgb(0, 115, 177);
$primary-color: #03A9F4;
$accent-color: #448AFF;
$primary-color-light: #B3E5FC;
$primary-background: #fff;
$primary-text-color: #212121;
$secondary-text-color: #f4f4f4;
$divider-color: #BDBDBD;
$primary-color-card: #f9fbff;
$btn-color-light: #f2f7ff;

$primary-color-gradient: linear-gradient(to right, $primary-color-dark, $primary-color, $primary-color-dark);
$secondary-color-gradient: linear-gradient(to bottom right, $primary-color, $accent-color);
$primary-text-gradient-color: linear-gradient(to bottom right, $primary-color-dark, $primary-color);

$text-shadow-dark: 0 .5rem .7rem rgba(0, 0, 0, 0.6);
$text-shadow-light: 0 .5rem .5rem rgba(0, 0, 0, 0.2);
$text-shadow-bright: 0 .5rem .5rem rgba(255, 255, 255, 0.2);

$bp-s: 37.5em;
$bp-m: 50em;
$bp-l: 87.5em;