---
title: Siavash's Blog by category
---

<div class="sub-container">
  <div class="sub-header">
    <h1 class="heading1-light">Posts</h1>
  </div>
  <div class="sub-content">
    <div class="blog">
      <div class="blog__heading">
        <h1 class="heading1">Filter by category</h1>
      </div>
      <div class="blog__label">
        {% for c in site.data.categories %}
        <label class="blog__label__item" for="{{ c }}">
          {{ c }}
        </label>
        {% endfor %}
      </div>
      <div class="blog__content">
        {% for c in site.data.categories %}
        <div class="blog__category">
          <input class="blog__category__radio"
                 type="radio"
                 name="category"
                 id="{{ c }}"
                 {% if c == 'all' %}
                 checked
                 {% endif %}>
          <div class="blog__category__container">
            <div class="blog__category__content">
              {% for p in site.posts %}
              {% if p.categories contains c %}
              <div class="blog__post__item">
                <div class="blog__post__item__pic">
                  <img src="{{ p.pic }}" alt="{{ p.title }} picture">
                </div>
                <p class="blog__post__item__title">
                  {{ p.title }}
                </p>
                <div class="blog__post__item__excert">
                  {{ p.excerpt | truncatewords: 20 }}
                </div>
                <a href="{{ p.url }}" class="blog__post__item__link">
                  See more
                </a>
              </div>
              {% elsif c == 'all' %}
              <div class="blog__post__item">
                <div class="blog__post__item__pic">
                  <img src="{{ p.pic }}" alt="{{ p.title }} picture">
                </div>
                <p class="blog__post__item__title">
                  {{ p.title }}
                </p>
                <div class="blog__post__item__excert">
                  {{ p.excerpt | truncatewords: 20 }}
                </div>
                <a class="blog__post__item__link" href="{{ p.url }}">
                  See more
                </a>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        {% endfor %}

      </div>

    </div>
  </div>
</div>