---
title: Siavash's Blog
---

<div class="sub-container">
  <div class="sub-header">
    <h1 class="heading1-light">Posts</h1>
  </div>
  <div class="sub-content">
    <div class="blog">
      <div class="blog__heading">
        <div class="blog__see-category">
          <a class="blog__see-category__link" href="/blog/categories">
            Select a category
          </a>
        </div>
      </div>
      <div class="blog__content">
        <div class="blog__category">
          <input class="blog__category__radio"
                 type="radio"
                 name="category">
          <div>
            <div class="blog__category__content">
              {% for p in paginator.posts %}
              <div class="blog__post__item">
                <div class="blog__post__item__pic">
                  <img src="{{ p.pic }}" alt="{{ p.title }} picture">
                </div>
                <p class="blog__post__item__title">
                  {{ p.title }}
                </p>
                <div class="blog__post__item__excert">
                  {{ p.excerpt | truncatewords: 20 }}
                </div>
                <a href="{{ p.url }}" class="blog__post__item__link">
                  See more
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="blog__paginator">
          <a href="{{ paginator.previous_page_path | relative_url }}"
             {% if paginator.previous_page %}
             class="blog__paginator__item blog__paginator__item--active"
             {% else %}
             class="blog__paginator__item blog__paginator__item--passive"
             {% endif %}>
            <div class="blog__paginator__item__link"> « </div>
          </a>

          {% for i in (1..paginator.total_pages) %}

          {% if i == 1 %}
          <a class="blog__paginator__item blog__paginator__item--active"
             href="/blog">
            <div {% if i == paginator.page %}
                 class="blog__paginator__item__link blog__paginator__item--current"
                 {%else%}
                 class="blog__paginator__item__link"
                 {% endif%}>
              {{ i }}
            </div>
          </a>
          {%else%}
          <a class="blog__paginator__item blog__paginator__item--active"
             href="/blog/page{{i}}">
            <div {% if i == paginator.page %}
                 class="blog__paginator__item__link blog__paginator__item--current"
                 {%else%}
                 class="blog__paginator__item__link"
                 {% endif%}> {{ i }} </div>
          </a>
          {% endif%}
          {% endfor %}

          <a href="{{ paginator.next_page_path | relative_url }}"
             {% if paginator.next_page %}
             class="blog__paginator__item blog__paginator__item--active"
             {% else %}
             class="blog__paginator__item blog__paginator__item--passive"
             {% endif %}>
            <div class="blog__paginator__item__link"> » </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>