<!doctype html>
<html>

<head>
  <meta charset=" UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  {% feed_meta %}
  {% seo %}
</head>

<body>
  <div class="container">
    <nav class="nav">
      <div class="nav__top"></div>
      <div class="nav__photo">
        <div class="nav__photo_content">
          <img src=" https://live.staticflickr.com/65535/46716348905_b46642d1e6_m.jpg" alt="Profile picture">
        </div>
        <div class="nav__photo__name">Siavash Outadi</div>
      </div>
      {% include navigation.html %}
      <div class="nav__social">
        <div class="nav__social__item">
          <a href="https://github.com/siavashoutadi" class="nav__social__link">
            <svg class="nav__social__icon">
              <use xlink:href="/assets/icons/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
        <div class="nav__social__item">
          <a href="https://www.linkedin.com/in/siavash-outadi-9b8b3b31" class="nav__social__link">
            <svg class="nav__social__icon">
              <use xlink:href="/assets/icons/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
        <div class="nav__social__item">
          <a href="https://twitter.com/siavash_outadi" class="nav__social__link">
            <svg class="nav__social__icon">
              <use xlink:href="/assets/icons/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </div>
        <div class="nav__social__item">
          <a href="mailto:siavash.outadi@gmail.com" class="nav__social__link">
            <svg class="nav__social__icon">
              <use xlink:href="/assets/icons/sprite.svg#icon-envelope"></use>
            </svg>
          </a>
        </div>
      </div>
    </nav>

    <main class="content">{{ content }}</main>

    <footer class="footer">
      <p class="footer__copyright">
        © Copyright 2019, SIAVASH OUTADI.
      </p>
      <p class="footer__poweredby">
        Powered by jekyll
      </p>
    </footer>
  </div>
</body>

</html>