---
layout: default
---
<div>

  <div class="sub-container">
    <div class="sub-header">
      <h1 class="heading1-light">{{ page.date | date_to_string }}</h1>
    </div>
    <div class="sub-content">
      <div class="post">
        <div class="post__pic">
          <img src="{{ page.pic }}" alt="Post picture">
        </div>
        <div class="post__heading">
          <h1 class="heading1">{{ page.title }}</h1>
        </div>
        <div class=" post__content">
          {{ content }}
        </div>
        <div class="post__footer">
          <div class="post_footer__author">
            <p><span>Auhtor:</span> {{ page.author }}</p>
          </div>
          <div class="post__footer__date">
            <p><span>Date:</span> {{ page.date | date_to_string }}</p>
          </div>
        </div>
        <div class="post__side">
          <div class="post__side__section">
            <h3 class="post__side__heading">Latest</h3>
            {% for p in site.posts limit:10 offset:offset %}
            <a href="{{ p.url }}" class="post__side__section__link">
              {{ p.title }}
            </a>
            {% endfor %}
          </div>
          <div class="post__side__section">
            <h3 class="post__side__heading">Year</h3>
            {% for year in site.data.years %}
            {% if year != 'all' %}
            <div class="post__side__category">
              <input type="radio" class="post__side__category__radio"
                     id="{{ year }}"
                     name="year"
                     {% if page.years contains year %}
                     checked
                     {% endif %}>
              <label for="{{ year }}" class="post__side__category__label">
                <span>{{ year }}</span><span>&#9663;</span>
              </label>
              <div class="post__side__category__container">
                <div class="post__side__category__content">
                  {% for p in site.posts %}
                  {% if p.years contains year %}
                  <a href="{{ p.url }}" class="post__side__section__link">
                    {{ p.title }}
                  </a>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="post__side__section">
            <h3 class="post__side__heading">Category</h3>
            {% for c in site.data.categories %}
            {% if c != 'all' %}
            <div class="post__side__category">
              <input type="radio" class="post__side__category__radio"
                     id="{{ c }}"
                     name="category"
                     {% if page.categories contains c %}
                     checked
                     {% endif %}>
              <label for="{{ c }}" class="post__side__category__label">
                <span>{{ c }}</span><span>&#9663;</span>
              </label>
              <div class="post__side__category__container">
                <div class="post__side__category__content">
                  {% for p in site.posts %}
                  {% if p.categories contains c %}
                  <a href="{{ p.url }}" class="post__side__section__link">
                    {{ p.title }}
                  </a>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>